Задание
Вопросы по заданию
Преподаватель: Константин Башевой


**Задание 1**

Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977


**Задание 2**

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).


**Задание 3**

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.


**Задание 4 (необязательное)**

Ваш коллега прислал код функции:

```
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
"""
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
"""
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]
```

При однократном вызове этой функции все работает корректно:
```
> delete_and_return_last_user(1)
‘A101’
```

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?


Важно! замечание к заданию.

**** Для зачета достаточно сделать три задания! (четвертое необязательное)****

----

In [ ]:
from datetime import datetime, date

In [ ]:
"""
Задание 1

Печатные газеты использовали свой формат дат для каждого выпуска.

Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977
"""
moscow_time_newspaper = 'The Moscow Times - Wednesday, October 2, 2002'
dt = datetime.strptime(moscow_time_newspaper, 'The Moscow Times - %A, %B %d, %Y')
print(f'"{dt.strftime("%Y.%m.%d")}" - {moscow_time_newspaper}')

the_guardian = 'The Guardian - Friday, 11.10.13' # 11th of October was Friday
dt = datetime.strptime(the_guardian, 'The Guardian - %A, %d.%m.%y')
print(f'"{dt.strftime("%Y.%m.%d")}" - {the_guardian}')

daily_news = 'Daily News - Thursday, 18 August 1977'
dt = datetime.strptime(daily_news, 'Daily News - %A, %d %B %Y')
print(f'"{dt.strftime("%Y.%m.%d")}" - {daily_news}')

"2002.10.02" - The Moscow Times - Wednesday, October 2, 2002
"2013.10.11" - The Guardian - Friday, 11.10.13
"1977.08.18" - Daily News - Thursday, 18 August 1977

In [ ]:
"""
Задание 2

Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения: stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]

Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).
"""
def check_dt_str(dt_item):
  try:
    return date.fromisoformat(dt_item) is not None
  except ValueError:
    return False
  # I want the code to fail when other error occured

stream = ['2018-04-02', '2018-02-29', '2018-19-02', '0001-1-1']

for dt_item in stream:
  print(f'"{dt_item}" is valid: {check_dt_str(dt_item)}')

"2018-04-02" is valid: True
"2018-02-29" is valid: False
"2018-19-02" is valid: False
"0001-1-1" is valid: False

In [ ]:
"""
Задание 3

Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date.
Даты должны вводиться в формате YYYY-MM-DD.
В случае неверного формата или при start_date > end_date должен возвращаться пустой список.
"""
def dt_range(start_date, end_date):
  try:
    date_start_ord = date.fromisoformat(start_date).toordinal()
    date_end_ord = date.fromisoformat(end_date).toordinal()
    return list(map(date.fromordinal, range(date_start_ord, date_end_ord + 1)))
  except ValueError:
    return []

# Incorect start_date, end_date
print(dt_range('2018-02-29', '2018-02-29')) # []
print(dt_range('2018-02-29', '2018-03-01')) # []
print(dt_range('2018-19-02', '2018-03-01')) # []
print(dt_range('0001-1-1', '0001-01-01')) # []
print(dt_range('2000-01-02', '2000-01-01')) # []

# Correct start_date, end_date
print(dt_range('2018-02-28', '2018-02-28'))
print(dt_range('2018-02-28', '2018-03-01'))
print(dt_range('2018-03-02', '2018-03-03'))
print(dt_range('0001-01-01', '0001-01-01'))
print(dt_range('2000-01-02', '2000-02-01'))

[]
[]
[]
[]
[]
[datetime.date(2018, 2, 28)]
[datetime.date(2018, 2, 28), datetime.date(2018, 3, 1)]
[datetime.date(2018, 3, 2), datetime.date(2018, 3, 3)]
[datetime.date(1, 1, 1)]
[datetime.date(2000, 1, 2), datetime.date(2000, 1, 3), datetime.date(2000, 1, 4), datetime.date(2000, 1, 5), datetime.date(2000, 1, 6), datetime.date(2000, 1, 7), datetime.date(2000, 1, 8), datetime.date(2000, 1, 9), datetime.date(2000, 1, 10), datetime.date(2000, 1, 11), datetime.date(2000, 1, 12), datetime.date(2000, 1, 13), datetime.date(2000, 1, 14), datetime.date(2000, 1, 15), datetime.date(2000, 1, 16), datetime.date(2000, 1, 17), datetime.date(2000, 1, 18), datetime.date(2000, 1, 19), datetime.date(2000, 1, 20), datetime.date(2000, 1, 21), datetime.date(2000, 1, 22), datetime.date(2000, 1, 23), datetime.date(2000, 1, 24), datetime.date(2000, 1, 25), datetime.date(2000, 1, 26), datetime.date(2000, 1, 27), datetime.date(2000, 1, 28), datetime.date(2000, 1, 29), datetime.date(2000, 1, 30), datetime.date(2000, 1, 31), datetime.date(2000, 2, 1)]

In [ ]:
"""
**Задание 4 (необязательное)**

Ваш коллега прислал код функции:

```
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
# Удаляет из списка default_list последнего пользователя
# и возвращает ID нового последнего пользователя.
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)
```
`return default_list[DEFAULT_USER_COUNT-2]`

При однократном вызове этой функции все работает корректно:
`delete_and_return_last_user(1)`
`> ‘A101’`

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:
Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?
"""

In [ ]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=['A100', 'A101', 'A102']):
# Удаляет из списка default_list последнего пользователя
# и возвращает ID нового последнего пользователя.
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]

In [ ]:
delete_and_return_last_user(1)

IndexError: ignored

Как указано в документации, параметры по умолчанию вычисляются только один раз при создании функции. Потому любые манипуляции над изменяемыми объектами в параметрах по умолчанию сохранятся при последующих вызовах функции.

Default parameter values are evaluated from left to right when the function definition is executed. This means that the expression is evaluated once, when the function is defined, and that the same “pre-computed” value is used for each call. This is especially important to understand when a default parameter value is a mutable object, such as a list or a dictionary: if the function modifies the object (e.g. by appending an item to a list), the default parameter value is in effect modified.

https://docs.python.org/3/reference/compound_stmts.html#function-definitions

В документации так же указан способ обойти это ограничение с помощью None, как в ячейке ниже.

In [ ]:
DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=None):
# Удаляет из списка default_list последнего пользователя
# и возвращает ID нового последнего пользователя.
  if not default_list:
    default_list = ['A100', 'A101', 'A102']
  element_to_delete = default_list[-1]
  default_list.remove(element_to_delete)
  return default_list[DEFAULT_USER_COUNT-2]

In [ ]:
delete_and_return_last_user(1)
delete_and_return_last_user(1)
delete_and_return_last_user(1)
delete_and_return_last_user(1)

'A101'